<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletPlanes</servlet-name>
        <servlet-class>cl.bcos.servlet.ServletPlanes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>cl.bcos.servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>llaves</servlet-name>
        <servlet-class>cl.bcos.servlet.llaves</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarPlanes</servlet-name>
        <servlet-class>cl.bcos.servlet.ServletListarPlanes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCrearSuscripcion</servlet-name>
        <servlet-class>cl.bcos.servlet.ServletCrearSuscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarSuscripciones</servlet-name>
        <servlet-class>cl.bcos.servlet.ServletListarSuscripciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdateSuscripcion</servlet-name>
        <servlet-class>cl.bcos.servlet.ServletUpdateSuscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarFichas</servlet-name>
        <servlet-class>cl.bcos.servlet.ServletListarFichas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPlanes</servlet-name>
        <url-pattern>/ServletPlanes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>llaves</servlet-name>
        <url-pattern>/llaves</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarPlanes</servlet-name>
        <url-pattern>/ServletListarPlanes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCrearSuscripcion</servlet-name>
        <url-pattern>/ServletCrearSuscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarSuscripciones</servlet-name>
        <url-pattern>/ServletListarSuscripciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdateSuscripcion</servlet-name>
        <url-pattern>/ServletUpdateSuscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarFichas</servlet-name>
        <url-pattern>/ServletListarFichas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
